openapi: 3.0.0
info:
  contact:
    name: PeerTube Community
    url: https://joinpeertube.org
  description: |
    The PeerTube API is built on HTTP(S) and is RESTful. You can use your favorite
    HTTP/REST library for your programming language to use PeerTube. The spec API is fully compatible with
    [openapi-generator](https://github.com/OpenAPITools/openapi-generator/wiki/API-client-generator-HOWTO)
    which generates a client SDK in the language of your choice - we generate some client SDKs automatically:

    - [Python](https://framagit.org/framasoft/peertube/clients/python)
    - [Go](https://framagit.org/framasoft/peertube/clients/go)
    - [Kotlin](https://framagit.org/framasoft/peertube/clients/kotlin)

    See the [REST API quick start](https://docs.joinpeertube.org/api/rest-getting-started) for a few
    examples of using the PeerTube API.

    # Authentication

    When you sign up for an account on a PeerTube instance, you are given the possibility
    to generate sessions on it, and authenticate there using an access token. Only __one
    access token can currently be used at a time__.

    ## Roles

    Accounts are given permissions based on their role. There are three roles on
    PeerTube: Administrator, Moderator, and User. See the [roles guide](https://docs.joinpeertube.org/admin/managing-users#roles) for a detail of their permissions.

    # Errors

    The API uses standard HTTP status codes to indicate the success or failure
    of the API call, completed by a [RFC7807-compliant](https://tools.ietf.org/html/rfc7807) response body.

    ```
    HTTP 1.1 404 Not Found
    Content-Type: application/problem+json; charset=utf-8

    {
      "detail": "Video not found",
      "docs": "https://docs.joinpeertube.org/api-rest-reference.html#operation/getVideo",
      "status": 404,
      "title": "Not Found",
      "type": "about:blank"
    }
    ```

    We provide error `type` (following RFC7807) and `code` (internal PeerTube code) values for [a growing number of cases](https://github.com/Chocobozzz/PeerTube/blob/develop/packages/models/src/server/server-error-code.enum.ts),
    but it is still optional. Types are used to disambiguate errors that bear the same status code
    and are non-obvious:

    ```
    HTTP 1.1 403 Forbidden
    Content-Type: application/problem+json; charset=utf-8

    {
      "detail": "Cannot get this video regarding follow constraints",
      "docs": "https://docs.joinpeertube.org/api-rest-reference.html#operation/getVideo",
      "status": 403,
      "title": "Forbidden",
      "type": "https://docs.joinpeertube.org/api-rest-reference.html#section/Errors/does_not_respect_follow_constraints"
    }
    ```

    Here a 403 error could otherwise mean that the video is private or blocklisted.

    ### Validation errors

    Each parameter is evaluated on its own against a set of rules before the route validator
    proceeds with potential testing involving parameter combinations. Errors coming from validation
    errors appear earlier and benefit from a more detailed error description:

    ```
    HTTP 1.1 400 Bad Request
    Content-Type: application/problem+json; charset=utf-8

    {
      "detail": "Incorrect request parameters: id",
      "docs": "https://docs.joinpeertube.org/api-rest-reference.html#operation/getVideo",
      "instance": "/api/v1/videos/9c9de5e8-0a1e-484a-b099-e80766180",
      "invalid-params": {
        "id": {
          "location": "params",
          "msg": "Invalid value",
          "param": "id",
          "value": "9c9de5e8-0a1e-484a-b099-e80766180"
        }
      },
      "status": 400,
      "title": "Bad Request",
      "type": "about:blank"
    }
    ```

    Where `id` is the name of the field concerned by the error, within the route definition.
    `invalid-params.<field>.location` can be either 'params', 'body', 'header', 'query' or 'cookies', and
    `invalid-params.<field>.value` reports the value that didn't pass validation whose `invalid-params.<field>.msg`
    is about.

    ### Deprecated error fields

    Some fields could be included with previous versions. They are still included but their use is deprecated:
    - `error`: superseded by `detail`

    # Rate limits

    We are rate-limiting all endpoints of PeerTube's API. Custom values can be set by administrators:

    | Endpoint (prefix: `/api/v1`) | Calls         | Time frame   |
    |------------------------------|---------------|--------------|
    | `/*`                         | 50            | 10 seconds   |
    | `POST /users/token`          | 15            | 5 minutes    |
    | `POST /users/register`       | 2<sup>*</sup> | 5 minutes    |
    | `POST /users/ask-send-verify-email` | 3      | 5 minutes    |

    Depending on the endpoint, <sup>*</sup>failed requests are not taken into account. A service
    limit is announced by a `429 Too Many Requests` status code.

    You can get details about the current state of your rate limit by reading the
    following headers:

    | Header                  | Description                                                |
    |-------------------------|------------------------------------------------------------|
    | `X-RateLimit-Limit`     | Number of max requests allowed in the current time period  |
    | `X-RateLimit-Remaining` | Number of remaining requests in the current time period    |
    | `X-RateLimit-Reset`     | Timestamp of end of current time period as UNIX timestamp  |
    | `Retry-After`           | Seconds to delay after the first `429` is received         |

    # CORS

    This API features [Cross-Origin Resource Sharing (CORS)](https://fetch.spec.whatwg.org/),
    allowing cross-domain communication from the browser for some routes:

    | Endpoint                    |
    |------------------------- ---|
    | `/api/*`                    |
    | `/download/*`               |
    | `/lazy-static/*`            |
    | `/.well-known/webfinger`    |

    In addition, all routes serving ActivityPub are CORS-enabled for all origins.
  license:
    name: AGPLv3.0
    url: https://github.com/Chocobozzz/PeerTube/blob/master/LICENSE
  title: PeerTube
  version: 7.0.0
  x-logo:
    url: https://joinpeertube.org/img/brand.png
    altText: PeerTube Project Homepage
externalDocs:
  url: https://docs.joinpeertube.org/api-rest-reference.html
servers:
- description: Live Test Server (live data - latest nightly version)
  url: https://peertube2.cpy.re
- description: Live Test Server (live data - latest RC version)
  url: https://peertube3.cpy.re
- description: Live Test Server (live data - stable version)
  url: https://peertube.cpy.re
tags:
- description: |
    As a visitor, you can use this API to open an account (if registrations are open on
    that PeerTube instance). As an admin, you should use the dedicated [User creation
    API](#operation/addUser) instead.
  name: Register
- description: |
    Sessions deal with access tokens over time. Only __one session token can currently be used at a time__.
  name: Session
  x-displayName: Login/Logout
- description: |
    Accounts encompass remote accounts discovered across the federation, and correspond to the main Actor, along with video channels a user can create, which are also Actors.
    When a comment is posted, it is done with your Account's Actor.
  name: Accounts
- description: |
    Using some features of PeerTube require authentication, for which User provide different levels of permission as well as associated user information. Each user has a corresponding local Account for federation.
  name: Users
- description: |
    To create an archive of user data.
  name: User Exports
- description: |
    To import an archive of user data.
  name: User Imports
- description: |
    Operations related to your own User, when logged-in.
  name: My User
- description: |
    Operations related to your subscriptions to video channels, their new videos, and how to keep up to date with their latest publications!
  name: My Subscriptions
- description: |
    Operations related to your watch history.
  name: My History
- description: |
    Notifications following new videos, follows or reports. They allow you to keep track of the interactions and overall important information that concerns you. You MAY set per-notification type delivery preference, to receive the info either by mail, by in-browser notification or both.
  name: My Notifications
- description: |
    Each server exposes public information regarding supported videos and options.
  name: Config
- description: |
    Jobs are long-running tasks enqueued and processed by the instance itself. No additional worker registration is currently available.
  name: Job
- description: |
    Managing servers which the instance interacts with is crucial to the concept of federation in PeerTube and external video indexation. The PeerTube server then deals with inter-server ActivityPub operations and propagates information across its social graph by posting activities to actors' inbox endpoints.
  externalDocs:
    url: https://docs.joinpeertube.org/admin/following-instances#instances-follows
  name: Instance Follows
- description: |
    Redundancy is part of the inter-server solidarity that PeerTube fosters. Manage the list of instances you wish to help by seeding their videos according to the policy of video selection of your choice. Note that you have a similar functionality to mirror individual videos, see [video mirroring](#tag/Video-Mirroring).
  externalDocs:
    url: https://docs.joinpeertube.org/admin/following-instances#instances-redundancy
  name: Instance Redundancy
- description: |
    Managing plugins installed from a local path or from NPM, or search for new ones.
  externalDocs:
    url: https://docs.joinpeertube.org/api/plugins
  name: Plugins
- description: |
    Abuses deal with reports of local or remote videos/comments/accounts alike.
  name: Abuses
- description: |
    Operations dealing with listing, uploading, fetching or modifying videos.
  name: Video
- description: |
    Operations dealing with adding video or audio. PeerTube supports two upload modes, and three import modes.

    ### Upload

    - [_legacy_](#operation/uploadLegacy), where the video file is sent in a single request
    - [_resumable_](#operation/uploadResumableInit), where the video file is sent in chunks

    You can upload videos more reliably by using the resumable variant. Its protocol lets
    you resume an upload operation after a network interruption or other transmission failure,
    saving time and bandwidth in the event of network failures.

    Favor using resumable uploads in any of the following cases:
    - You are transferring large files
    - The likelihood of a network interruption is high
    - Uploads are originating from a device with a low-bandwidth or unstable Internet connection,
      such as a mobile device

    ### Import

    - _URL_-based: where the URL points to any service supported by [youtube-dl](https://ytdl-org.github.io/youtube-dl/)
    - _magnet_-based: where the URI resolves to a BitTorrent resource containing a single supported video file
    - _torrent_-based: where the metainfo file resolves to a BitTorrent resource containing a single supported video file

    The import function is practical when the desired video/audio is available online. It makes PeerTube
    download it for you, saving you as much bandwidth and avoiding any instability or limitation your network might have.
  name: Video Upload
- description: "Operations dealing with listing, adding and removing video imports."
  name: Video Imports
- description: Operations dealing with synchronizing PeerTube user's channel with
    channels of other platforms
  name: Channels Sync
- description: "Operations dealing with listing, adding and removing closed captions\
    \ of a video."
  name: Video Captions
- description: Operations dealing with managing chapters of a video.
  name: Video Chapters
- description: "Operations dealing with the creation, modification and listing of\
    \ videos within a channel."
  name: Video Channels
- description: |
    Operations dealing with comments to a video. Comments are organized in threads: adding a comment in response to the video starts a thread, adding a reply to a comment adds it to its root comment thread.
  name: Video Comments
- description: Operations dealing with blocking videos (removing them from view and
    preventing interactions).
  name: Video Blocks
- description: "Automatic tags set on objects (like comments or videos) by specific\
    \ rules (external link, watched words, etc.)"
  name: Automatic Tags
- description: Manage list of watched words to detect patterns on objects (like comments
    of videos)
  name: Watched Words
- description: Like/dislike a video.
  name: Video Rates
- description: Operations dealing with playlists of videos. Playlists are bound to
    users and/or channels.
  name: Video Playlists
- description: Operations on video files
  name: Video Files
- description: Video transcoding related operations
  name: Video Transcoding
- description: Video statistics
  name: Video Stats
- description: Server syndication feeds of videos
  name: Video Feeds
- description: Download video files
  name: Video Download
- description: |
    The search helps to find _videos_ or _channels_ from within the instance and beyond.
    Videos from other instances federated by the instance (that is, instances
    followed by the instance) can be found via keywords and other criteria of
    the advanced search.

    Administrators can also enable the use of a remote search system, indexing
    videos and channels not could be not federated by the instance.
  name: Search
- description: Get and update the custom homepage
  name: Homepage
- description: |
    PeerTube instances can mirror videos from one another, and help distribute some videos.

    For importing videos as your own, refer to [video imports](#operation/importVideo).
  name: Video Mirroring
- description: |
    Statistics
  name: Stats
- description: |
    Manage runner registration token
  name: Runner Registration Token
- description: Operation on video passwords
  name: Video Passwords
- description: |
    overview
  name: Overview Videos
paths:
  /static/web-videos/{filename}:
    get:
      description: '**PeerTube >= 6.0**'
      parameters:
      - description: Filename
        explode: false
        in: path
        name: filename
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: successful operation
        "404":
          description: not found
      summary: Get public Web Video file
      tags:
      - Static Video Files
  /static/web-videos/private/{filename}:
    get:
      description: '**PeerTube >= 6.0**'
      parameters:
      - description: Filename
        explode: false
        in: path
        name: filename
        required: true
        schema:
          type: string
        style: simple
      - description: "Video file token [generated](#operation/requestVideoToken) by\
          \ PeerTube so you don't need to provide an OAuth token in the request header."
        explode: true
        in: query
        name: videoFileToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: successful operation
        "403":
          description: invalid auth
        "404":
          description: not found
      security:
      - OAuth2: []
      summary: Get private Web Video file
      tags:
      - Static Video Files
  /static/streaming-playlists/hls/{filename}:
    get:
      parameters:
      - description: Filename
        explode: false
        in: path
        name: filename
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: successful operation
        "403":
          description: invalid auth
        "404":
          description: not found
      security:
      - OAuth2: []
      summary: Get public HLS video file
      tags:
      - Static Video Files
  /static/streaming-playlists/hls/private/{filename}:
    get:
      parameters:
      - description: Filename
        explode: false
        in: path
        name: filename
        required: true
        schema:
          type: string
        style: simple
      - description: "Video file token [generated](#operation/requestVideoToken) by\
          \ PeerTube so you don't need to provide an OAuth token in the request header."
        explode: true
        in: query
        name: videoFileToken
        required: false
        schema:
          type: string
        style: form
      - description: Ask the server to reinject videoFileToken in URLs in m3u8 playlist
        explode: true
        in: query
        name: reinjectVideoFileToken
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: successful operation
        "403":
          description: invalid auth
        "404":
          description: not found
      security:
      - OAuth2: []
      summary: Get private HLS video file
      tags:
      - Static Video Files
  /download/videos/generate/:videoId:
    get:
      description: Generate a mp4 container that contains at most 1 video stream and
        at most 1 audio stream. Mainly used to merge the HLS audio only video file
        and the HLS video only resolution file.
      parameters:
      - description: The video id
        explode: false
        in: path
        name: videoId
        required: true
        schema:
          $ref: '#/components/schemas/Video/properties/id'
        style: simple
      - description: streams of video files to mux in the output
        explode: true
        in: query
        name: videoFileIds
        required: true
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: "Video file token [generated](#operation/requestVideoToken) by\
          \ PeerTube so you don't need to provide an OAuth token in the request header."
        explode: true
        in: query
        name: videoFileToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: successful operation
      summary: Download video file
      tags:
      - Video Download
  /feeds/video-comments.{format}:
    get:
      operationId: getSyndicatedComments
      parameters:
      - description: "format expected (we focus on making `rss` the most featureful\
          \ ; it serves [Media RSS](https://www.rssboard.org/media-rss))"
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - xml
          - rss
          - rss2
          - atom
          - atom1
          - json
          - json1
          type: string
        style: simple
      - description: limit listing comments to a specific video
        explode: true
        in: query
        name: videoId
        required: false
        schema:
          type: string
        style: form
      - description: limit listing comments to videos of a specific account
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: limit listing comments to videos of a specific account
        explode: true
        in: query
        name: accountName
        required: false
        schema:
          type: string
        style: form
      - description: limit listing comments to videos of a specific video channel
        explode: true
        in: query
        name: videoChannelId
        required: false
        schema:
          type: string
        style: form
      - description: limit listing comments to videos of a specific video channel
        explode: true
        in: query
        name: videoChannelName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/xml:
              examples:
                nightly:
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"\
                    2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:content=\"\
                    http://purl.org/rss/1.0/modules/content/\" xmlns:atom=\"http://www.w3.org/2005/Atom\"\
                    >\n    <channel>\n        <title>PeerTube Nightly</title>\n  \
                    \      <link>https://peertube2.cpy.re</link>\n        <description>This\
                    \ instance is a test instance of the PeerTube project. It is updated\
                    \ to the latest commit in the develop branch every business day,\
                    \ 8pm CET.</description>\n        <lastBuildDate>Thu, 23 Jan 2025\
                    \ 04:10:58 GMT</lastBuildDate>\n        <docs>https://validator.w3.org/feed/docs/rss2.html</docs>\n\
                    \        <generator>PeerTube - https://peertube2.cpy.re</generator>\n\
                    \        <image>\n            <title>PeerTube Nightly</title>\n\
                    \            <url>https://peertube2.cpy.re/client/assets/images/icons/icon-96x96.png</url>\n\
                    \            <link>https://peertube2.cpy.re</link>\n        </image>\n\
                    \        <copyright>All rights reserved, unless otherwise specified\
                    \ in the terms specified at https://peertube2.cpy.re/about and\
                    \ potential licenses granted by each content's rightholder.</copyright>\n\
                    \        <atom:link href=\"https://peertube2.cpy.re/feeds/video-comments.xml?scope=local\"\
                    \ rel=\"self\" type=\"application/rss+xml\"/>\n        <item>\n\
                    \            <title><![CDATA[Handpan Challenge sur Master the\
                    \ handpan avec David Kuckhermann - Olivier.L]]></title>\n    \
                    \        <link>https://peertube2.cpy.re/w/fbKSkvP7JYTwekca59KcS7;threadId=180281</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/fbKSkvP7JYTwekca59KcS7;threadId=180281</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 21:10:09 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>Bravo, c'est bien structuré\
                    \ et exécuter à mon goût 😃<br />\nJe peux guère dire de même\
                    \ de mon côté LOOL</p>\n]]></content:encoded>\n            <dc:creator>Olivier.L</dc:creator>\n\
                    \        </item>\n        <item>\n            <title><![CDATA[L'ESPRIT\
                    \ CHARLIE A ÉTÉ SACCAGÉ PAR DES ISLAMOPHOBES ET DES RACISTES -\
                    \ VeuveChyco]]></title>\n            <link>https://peertube2.cpy.re/w/4HdF9YkWJ2pY2G79KAv4By;threadId=180280</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/4HdF9YkWJ2pY2G79KAv4By;threadId=180280</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 19:15:35 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>blast</span></a></span> et c'est terrifiant.</p>]]></content:encoded>\n\
                    \            <dc:creator>VeuveChyco</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[Το Νήμα | Fact-checking:\
                    \ Τι σημαίνει η επαλήθευση ή μη μιας είδησης - omniatv]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/38BvEGZhayKharjtaZV971;threadId=180279</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/38BvEGZhayKharjtaZV971;threadId=180279</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 18:12:54 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://video.omniatv.com/accounts/omniatv\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>omniatv@video.omniatv.com</span></a></span> </p><p>Η δ\
                    ουλειά μας στο omniatv βασίζεται αποκλειστικά στις δικές σας σ\
                    υνδρομές: <a href=\"https://omniatv.com/support\" target=\"_blank\"\
                    \ rel=\"noopener noreferrer\"><span>https://</span><span>omniatv.com/support</span><span></span></a></p>]]></content:encoded>\n\
                    \            <dc:creator>omniatv</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[Guide philosophique\
                    \ contre le désespoir    (ft. @ApresLaBiere ) - Titus_Growl]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/voHLRRzRWTz8E23WuE5Y8n;threadId=178310</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/voHLRRzRWTz8E23WuE5Y8n;threadId=178310</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 15:45:36 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>@stemy@mas.to Merci\
                    \ pour cette source que je vais aller lire. L'anxiété liée au\
                    \ climat est souvent perçue comme un problème de riches par ceux\
                    \ qui y contribuent le moins (à la dégradation climatique) et\
                    \ qui en souffrent déjà le plus. Il y a là un paradoxe assez douloureux\
                    \ (j'ai trouvé beaucoup d'intérêt au le travail de J.B.Comby sur\
                    \ ce sujet). Mais il n'y a pas de raison que simultanément ils\
                    \ ne souffrent pas de cette anxiété majorée d'un sentiment d'absence\
                    \ de choix.</p>\n]]></content:encoded>\n            <dc:creator>Titus_Growl</dc:creator>\n\
                    \        </item>\n        <item>\n            <title><![CDATA[Mastodon,\
                    \ Peertube, Pixelfed: easily replace Twitter, Instagram and YouTube\
                    \ - Meursault]]></title>\n            <link>https://peertube2.cpy.re/w/gDWVaqerFypYu6y1XjdoM3;threadId=180276</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/gDWVaqerFypYu6y1XjdoM3;threadId=180276</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 15:37:41 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>thelinuxexperiment</span></a></span> Well, I'm sold.</p>]]></content:encoded>\n\
                    \            <dc:creator>Meursault</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[Bounce Modulators\
                    \ 2 Automation 2025 ｜ Bitwig ｜ Deutsch - Odo Sendaidokai]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/fTcTmb7pBqHeYjsuvsx4K9;threadId=180158</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/fTcTmb7pBqHeYjsuvsx4K9;threadId=180158</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 09:17:53 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>Ich weiß nicht, warum\
                    \ es nur 480p ist. Ich habe 1080p hochgeladen.</p>\n]]></content:encoded>\n\
                    \            <dc:creator>Odo Sendaidokai</dc:creator>\n      \
                    \  </item>\n        <item>\n            <title><![CDATA[Leveler\
                    \ Preset & Visualization ｜ Bitwig ｜ English - Odo Sendaidokai]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/4oWMhmwb5xgrfoYxEvZjps;threadId=180157</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/4oWMhmwb5xgrfoYxEvZjps;threadId=180157</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 09:17:27 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>Don't know why it is\
                    \ only 480p. I uploaded 1080p.</p>\n]]></content:encoded>\n  \
                    \          <dc:creator>Odo Sendaidokai</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[Bounce Modulators\
                    \ 2 Automation 2025 ｜ Bitwig ｜ English - Odo Sendaidokai]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/eWVSnd5RLF9gKpC98rqzWW;threadId=180156</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/eWVSnd5RLF9gKpC98rqzWW;threadId=180156</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 09:16:58 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>Don't know why it is\
                    \ only 480p. I uploaded 1080p.</p>\n]]></content:encoded>\n  \
                    \          <dc:creator>Odo Sendaidokai</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[Vous connaissez cet\
                    \ immense BESTSELLER oublié que Louis XIV ADORAIT? - Nasiviru]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/rPgpwsxouUMVdo2rxPFG5g;threadId=180155</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/rPgpwsxouUMVdo2rxPFG5g;threadId=180155</guid>\n\
                    \            <pubDate>Tue, 21 Jan 2025 21:53:36 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://indymotion.fr/accounts/fiamoa_mcbenson\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>fiamoa_mcbenson</span></a></span> c’est nul la miniature\
                    \ ne s’affiche pas dans la TL masto.. (faut cliquer sur le post)</p>]]></content:encoded>\n\
                    \            <dc:creator>Nasiviru</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[Aya Nakamura et la\
                    \ poésie - Autrices 3 - Fiamoa McBenson]]></title>\n         \
                    \   <link>https://peertube2.cpy.re/w/iMzYCiymcoaayVGV8mSqau;threadId=180149</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/iMzYCiymcoaayVGV8mSqau;threadId=180149</guid>\n\
                    \            <pubDate>Tue, 21 Jan 2025 21:30:26 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>@weshconexion Merci\
                    \ pour le commentaire. Je suis content que ma vidéo te plaise!<br\
                    \ />\nPour Aya,  j'adorerais pouvoir l'interviewer sur sa pratique\
                    \ d'écriture justement! Peut être quand je serai riche et célè\
                    bre 😜</p>\n]]></content:encoded>\n            <dc:creator>Fiamoa\
                    \ McBenson</dc:creator>\n        </item>\n        <item>\n   \
                    \         <title><![CDATA[Les otages de Davos (Lecture illustré\
                    e de K. S. Robinson Le Ministère du Futur, ) - maxsol]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/2EUa5wpcCoys5hLNNi4bVf;threadId=180150</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/2EUa5wpcCoys5hLNNi4bVf;threadId=180150</guid>\n\
                    \            <pubDate>Mon, 20 Jan 2025 20:28:30 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://skeptikon.fr/accounts/philoxime\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>philoxime</span></a></span> :ablobblewobble: le jour ou\
                    \ vous manquerez de passages / extraits à lire pensez à le dé\
                    luge :ablobcatangel:</p>]]></content:encoded>\n            <dc:creator>maxsol</dc:creator>\n\
                    \        </item>\n        <item>\n            <title><![CDATA[Aya\
                    \ Nakamura et la poésie - Autrices 3 - Wesh Conexion]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/iMzYCiymcoaayVGV8mSqau;threadId=180149</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/iMzYCiymcoaayVGV8mSqau;threadId=180149</guid>\n\
                    \            <pubDate>Mon, 20 Jan 2025 14:14:51 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>Top ta vidéo et tes\
                    \ explications.<br />\nUn petit éclaircissement pour tous ceux\
                    \ qui n'ont font pas l'effort de comprendre une culture qui fait\
                    \ vraiment partie du paysage musicale fr (on vous voit les racistes\
                    \ et les fafs, et on vous aime pas 😉 )</p>\n<p>ça serait marrant\
                    \ de voir la d'Aya à ta vidéo.</p>\n<p>Et la dédicace à Histoires\
                    \ Crépues tombe pile poil</p>\n]]></content:encoded>\n       \
                    \     <dc:creator>Wesh Conexion</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[Intergalactic Wasabi\
                    \ Mix - Live Mix by snowdusk - on aNONradio.net! - snowdusk]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=178165</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=178165</guid>\n\
                    \            <pubDate>Mon, 20 Jan 2025 00:05:51 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>@rat@social.sdf.org\
                    \ Thank you so much ratxue for hangin out with us on COM... as\
                    \ always! Thank you!</p>\n]]></content:encoded>\n            <dc:creator>snowdusk</dc:creator>\n\
                    \        </item>\n        <item>\n            <title><![CDATA[Intergalactic\
                    \ Wasabi Mix - Live Mix by snowdusk - on aNONradio.net! - 𝚛𝚊\
                    𝚝]]></title>\n            <link>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=180147</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=180147</guid>\n\
                    \            <pubDate>Sun, 19 Jan 2025 23:05:05 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://toobnix.org/accounts/snowdusk\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>snowdusk</span></a></span> loving the graphics</p>]]></content:encoded>\n\
                    \            <dc:creator>𝚛𝚊𝚝</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[TOO MANY COOKS, LE\
                    \ JOUR OÙ INTERNET A TUÉ LA TV - millerebonds]]></title>\n   \
                    \         <link>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180146</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180146</guid>\n\
                    \            <pubDate>Sun, 19 Jan 2025 19:32:34 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>blast</span></a></span> Le générique de fin m'aurait fait\
                    \ cracher mon café de rire bon ça va j'en buvais pas.\nTrop bien\
                    \ !!!</p>]]></content:encoded>\n            <dc:creator>millerebonds</dc:creator>\n\
                    \        </item>\n        <item>\n            <title><![CDATA[Vivre\
                    \ « libre » ou mourir (MFMR ep. 12) - Annabelle]]></title>\n \
                    \           <link>https://peertube2.cpy.re/w/3bfU1PDfqCgqRx6GDrKHYc;threadId=180145</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/3bfU1PDfqCgqRx6GDrKHYc;threadId=180145</guid>\n\
                    \            <pubDate>Sun, 19 Jan 2025 18:21:34 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>Merci pour ces 2h06\
                    \ passionnantes  (et un peu flippantes parfois) à vous écouter!\
                    \  Mes souvenirs des cours d'informatique de l'école primaire\
                    \ me  sont revenus, je viens juste de réaliser que c'était des\
                    \ lignes de codage qu'on nous faisait faire à l'époque .</p>\n\
                    ]]></content:encoded>\n            <dc:creator>Annabelle</dc:creator>\n\
                    \        </item>\n        <item>\n            <title><![CDATA[TOO\
                    \ MANY COOKS, LE JOUR OÙ INTERNET A TUÉ LA TV - Thierry Crouzet]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180142</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180142</guid>\n\
                    \            <pubDate>Sun, 19 Jan 2025 14:48:43 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://tooting.ch/@ludomire\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>ludomire</span></a></span> <span><a href=\"https://video.blast-info.fr/accounts/blast\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>blast</span></a></span> C'est exactement Rush… le lost\
                    \ media ultime qui rend dingue les IA et les détruit</p>]]></content:encoded>\n\
                    \            <dc:creator>Thierry Crouzet</dc:creator>\n      \
                    \  </item>\n        <item>\n            <title><![CDATA[TOO MANY\
                    \ COOKS, LE JOUR OÙ INTERNET A TUÉ LA TV - Thierry Crouzet]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180142</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180142</guid>\n\
                    \            <pubDate>Sun, 19 Jan 2025 14:38:28 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://tooting.ch/@ludomire\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>ludomire</span></a></span> <span><a href=\"https://video.blast-info.fr/accounts/blast\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>blast</span></a></span> Le chemin plus important que la\
                    \ destination…</p>]]></content:encoded>\n            <dc:creator>Thierry\
                    \ Crouzet</dc:creator>\n        </item>\n        <item>\n    \
                    \        <title><![CDATA[Apple pulls their AI, Valve talks SteamOS,\
                    \ Meta bans Fediverse Links_ Linux & Open Source News - Emaro]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/fg9ZrkJrfQCJXw6msEHiaG;threadId=180141</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/fg9ZrkJrfQCJXw6msEHiaG;threadId=180141</guid>\n\
                    \            <pubDate>Sun, 19 Jan 2025 14:20:22 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>thelinuxexperiment</span></a></span> nice, thanks for\
                    \ the news.</p>]]></content:encoded>\n            <dc:creator>Emaro</dc:creator>\n\
                    \        </item>\n        <item>\n            <title><![CDATA[TOO\
                    \ MANY COOKS, LE JOUR OÙ INTERNET A TUÉ LA TV - Lionel Jeannerat]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180142</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180142</guid>\n\
                    \            <pubDate>Sun, 19 Jan 2025 13:47:31 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>blast</span></a></span></p><p>Un autre truc pour toi <span><a\
                    \ href=\"https://mamot.fr/@tcrouzet\" class=\"u-url mention\"\
                    \ target=\"_blank\" rel=\"noopener noreferrer\">@<span>tcrouzet</span></a></span>\
                    \ \nMeta-fiction et lost média sont abordées et donnent du grain\
                    \ à moudre</p>]]></content:encoded>\n            <dc:creator>Lionel\
                    \ Jeannerat</dc:creator>\n        </item>\n    </channel>\n</rss>"
              schema:
                $ref: '#/components/schemas/VideoCommentsForXML'
            application/rss+xml:
              examples:
                nightly:
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"\
                    2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:content=\"\
                    http://purl.org/rss/1.0/modules/content/\" xmlns:atom=\"http://www.w3.org/2005/Atom\"\
                    >\n    <channel>\n        <title>PeerTube Nightly</title>\n  \
                    \      <link>https://peertube2.cpy.re</link>\n        <description>This\
                    \ instance is a test instance of the PeerTube project. It is updated\
                    \ to the latest commit in the develop branch every business day,\
                    \ 8pm CET.</description>\n        <lastBuildDate>Thu, 23 Jan 2025\
                    \ 04:10:58 GMT</lastBuildDate>\n        <docs>https://validator.w3.org/feed/docs/rss2.html</docs>\n\
                    \        <generator>PeerTube - https://peertube2.cpy.re</generator>\n\
                    \        <image>\n            <title>PeerTube Nightly</title>\n\
                    \            <url>https://peertube2.cpy.re/client/assets/images/icons/icon-96x96.png</url>\n\
                    \            <link>https://peertube2.cpy.re</link>\n        </image>\n\
                    \        <copyright>All rights reserved, unless otherwise specified\
                    \ in the terms specified at https://peertube2.cpy.re/about and\
                    \ potential licenses granted by each content's rightholder.</copyright>\n\
                    \        <atom:link href=\"https://peertube2.cpy.re/feeds/video-comments.xml?scope=local\"\
                    \ rel=\"self\" type=\"application/rss+xml\"/>\n        <item>\n\
                    \            <title><![CDATA[Handpan Challenge sur Master the\
                    \ handpan avec David Kuckhermann - Olivier.L]]></title>\n    \
                    \        <link>https://peertube2.cpy.re/w/fbKSkvP7JYTwekca59KcS7;threadId=180281</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/fbKSkvP7JYTwekca59KcS7;threadId=180281</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 21:10:09 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>Bravo, c'est bien structuré\
                    \ et exécuter à mon goût 😃<br />\nJe peux guère dire de même\
                    \ de mon côté LOOL</p>\n]]></content:encoded>\n            <dc:creator>Olivier.L</dc:creator>\n\
                    \        </item>\n        <item>\n            <title><![CDATA[L'ESPRIT\
                    \ CHARLIE A ÉTÉ SACCAGÉ PAR DES ISLAMOPHOBES ET DES RACISTES -\
                    \ VeuveChyco]]></title>\n            <link>https://peertube2.cpy.re/w/4HdF9YkWJ2pY2G79KAv4By;threadId=180280</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/4HdF9YkWJ2pY2G79KAv4By;threadId=180280</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 19:15:35 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>blast</span></a></span> et c'est terrifiant.</p>]]></content:encoded>\n\
                    \            <dc:creator>VeuveChyco</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[Το Νήμα | Fact-checking:\
                    \ Τι σημαίνει η επαλήθευση ή μη μιας είδησης - omniatv]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/38BvEGZhayKharjtaZV971;threadId=180279</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/38BvEGZhayKharjtaZV971;threadId=180279</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 18:12:54 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://video.omniatv.com/accounts/omniatv\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>omniatv@video.omniatv.com</span></a></span> </p><p>Η δ\
                    ουλειά μας στο omniatv βασίζεται αποκλειστικά στις δικές σας σ\
                    υνδρομές: <a href=\"https://omniatv.com/support\" target=\"_blank\"\
                    \ rel=\"noopener noreferrer\"><span>https://</span><span>omniatv.com/support</span><span></span></a></p>]]></content:encoded>\n\
                    \            <dc:creator>omniatv</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[Guide philosophique\
                    \ contre le désespoir    (ft. @ApresLaBiere ) - Titus_Growl]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/voHLRRzRWTz8E23WuE5Y8n;threadId=178310</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/voHLRRzRWTz8E23WuE5Y8n;threadId=178310</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 15:45:36 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>@stemy@mas.to Merci\
                    \ pour cette source que je vais aller lire. L'anxiété liée au\
                    \ climat est souvent perçue comme un problème de riches par ceux\
                    \ qui y contribuent le moins (à la dégradation climatique) et\
                    \ qui en souffrent déjà le plus. Il y a là un paradoxe assez douloureux\
                    \ (j'ai trouvé beaucoup d'intérêt au le travail de J.B.Comby sur\
                    \ ce sujet). Mais il n'y a pas de raison que simultanément ils\
                    \ ne souffrent pas de cette anxiété majorée d'un sentiment d'absence\
                    \ de choix.</p>\n]]></content:encoded>\n            <dc:creator>Titus_Growl</dc:creator>\n\
                    \        </item>\n        <item>\n            <title><![CDATA[Mastodon,\
                    \ Peertube, Pixelfed: easily replace Twitter, Instagram and YouTube\
                    \ - Meursault]]></title>\n            <link>https://peertube2.cpy.re/w/gDWVaqerFypYu6y1XjdoM3;threadId=180276</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/gDWVaqerFypYu6y1XjdoM3;threadId=180276</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 15:37:41 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>thelinuxexperiment</span></a></span> Well, I'm sold.</p>]]></content:encoded>\n\
                    \            <dc:creator>Meursault</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[Bounce Modulators\
                    \ 2 Automation 2025 ｜ Bitwig ｜ Deutsch - Odo Sendaidokai]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/fTcTmb7pBqHeYjsuvsx4K9;threadId=180158</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/fTcTmb7pBqHeYjsuvsx4K9;threadId=180158</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 09:17:53 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>Ich weiß nicht, warum\
                    \ es nur 480p ist. Ich habe 1080p hochgeladen.</p>\n]]></content:encoded>\n\
                    \            <dc:creator>Odo Sendaidokai</dc:creator>\n      \
                    \  </item>\n        <item>\n            <title><![CDATA[Leveler\
                    \ Preset & Visualization ｜ Bitwig ｜ English - Odo Sendaidokai]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/4oWMhmwb5xgrfoYxEvZjps;threadId=180157</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/4oWMhmwb5xgrfoYxEvZjps;threadId=180157</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 09:17:27 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>Don't know why it is\
                    \ only 480p. I uploaded 1080p.</p>\n]]></content:encoded>\n  \
                    \          <dc:creator>Odo Sendaidokai</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[Bounce Modulators\
                    \ 2 Automation 2025 ｜ Bitwig ｜ English - Odo Sendaidokai]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/eWVSnd5RLF9gKpC98rqzWW;threadId=180156</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/eWVSnd5RLF9gKpC98rqzWW;threadId=180156</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 09:16:58 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>Don't know why it is\
                    \ only 480p. I uploaded 1080p.</p>\n]]></content:encoded>\n  \
                    \          <dc:creator>Odo Sendaidokai</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[Vous connaissez cet\
                    \ immense BESTSELLER oublié que Louis XIV ADORAIT? - Nasiviru]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/rPgpwsxouUMVdo2rxPFG5g;threadId=180155</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/rPgpwsxouUMVdo2rxPFG5g;threadId=180155</guid>\n\
                    \            <pubDate>Tue, 21 Jan 2025 21:53:36 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://indymotion.fr/accounts/fiamoa_mcbenson\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>fiamoa_mcbenson</span></a></span> c’est nul la miniature\
                    \ ne s’affiche pas dans la TL masto.. (faut cliquer sur le post)</p>]]></content:encoded>\n\
                    \            <dc:creator>Nasiviru</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[Aya Nakamura et la\
                    \ poésie - Autrices 3 - Fiamoa McBenson]]></title>\n         \
                    \   <link>https://peertube2.cpy.re/w/iMzYCiymcoaayVGV8mSqau;threadId=180149</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/iMzYCiymcoaayVGV8mSqau;threadId=180149</guid>\n\
                    \            <pubDate>Tue, 21 Jan 2025 21:30:26 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>@weshconexion Merci\
                    \ pour le commentaire. Je suis content que ma vidéo te plaise!<br\
                    \ />\nPour Aya,  j'adorerais pouvoir l'interviewer sur sa pratique\
                    \ d'écriture justement! Peut être quand je serai riche et célè\
                    bre 😜</p>\n]]></content:encoded>\n            <dc:creator>Fiamoa\
                    \ McBenson</dc:creator>\n        </item>\n        <item>\n   \
                    \         <title><![CDATA[Les otages de Davos (Lecture illustré\
                    e de K. S. Robinson Le Ministère du Futur, ) - maxsol]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/2EUa5wpcCoys5hLNNi4bVf;threadId=180150</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/2EUa5wpcCoys5hLNNi4bVf;threadId=180150</guid>\n\
                    \            <pubDate>Mon, 20 Jan 2025 20:28:30 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://skeptikon.fr/accounts/philoxime\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>philoxime</span></a></span> :ablobblewobble: le jour ou\
                    \ vous manquerez de passages / extraits à lire pensez à le dé\
                    luge :ablobcatangel:</p>]]></content:encoded>\n            <dc:creator>maxsol</dc:creator>\n\
                    \        </item>\n        <item>\n            <title><![CDATA[Aya\
                    \ Nakamura et la poésie - Autrices 3 - Wesh Conexion]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/iMzYCiymcoaayVGV8mSqau;threadId=180149</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/iMzYCiymcoaayVGV8mSqau;threadId=180149</guid>\n\
                    \            <pubDate>Mon, 20 Jan 2025 14:14:51 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>Top ta vidéo et tes\
                    \ explications.<br />\nUn petit éclaircissement pour tous ceux\
                    \ qui n'ont font pas l'effort de comprendre une culture qui fait\
                    \ vraiment partie du paysage musicale fr (on vous voit les racistes\
                    \ et les fafs, et on vous aime pas 😉 )</p>\n<p>ça serait marrant\
                    \ de voir la d'Aya à ta vidéo.</p>\n<p>Et la dédicace à Histoires\
                    \ Crépues tombe pile poil</p>\n]]></content:encoded>\n       \
                    \     <dc:creator>Wesh Conexion</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[Intergalactic Wasabi\
                    \ Mix - Live Mix by snowdusk - on aNONradio.net! - snowdusk]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=178165</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=178165</guid>\n\
                    \            <pubDate>Mon, 20 Jan 2025 00:05:51 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>@rat@social.sdf.org\
                    \ Thank you so much ratxue for hangin out with us on COM... as\
                    \ always! Thank you!</p>\n]]></content:encoded>\n            <dc:creator>snowdusk</dc:creator>\n\
                    \        </item>\n        <item>\n            <title><![CDATA[Intergalactic\
                    \ Wasabi Mix - Live Mix by snowdusk - on aNONradio.net! - 𝚛𝚊\
                    𝚝]]></title>\n            <link>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=180147</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=180147</guid>\n\
                    \            <pubDate>Sun, 19 Jan 2025 23:05:05 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://toobnix.org/accounts/snowdusk\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>snowdusk</span></a></span> loving the graphics</p>]]></content:encoded>\n\
                    \            <dc:creator>𝚛𝚊𝚝</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[TOO MANY COOKS, LE\
                    \ JOUR OÙ INTERNET A TUÉ LA TV - millerebonds]]></title>\n   \
                    \         <link>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180146</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180146</guid>\n\
                    \            <pubDate>Sun, 19 Jan 2025 19:32:34 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>blast</span></a></span> Le générique de fin m'aurait fait\
                    \ cracher mon café de rire bon ça va j'en buvais pas.\nTrop bien\
                    \ !!!</p>]]></content:encoded>\n            <dc:creator>millerebonds</dc:creator>\n\
                    \        </item>\n        <item>\n            <title><![CDATA[Vivre\
                    \ « libre » ou mourir (MFMR ep. 12) - Annabelle]]></title>\n \
                    \           <link>https://peertube2.cpy.re/w/3bfU1PDfqCgqRx6GDrKHYc;threadId=180145</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/3bfU1PDfqCgqRx6GDrKHYc;threadId=180145</guid>\n\
                    \            <pubDate>Sun, 19 Jan 2025 18:21:34 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>Merci pour ces 2h06\
                    \ passionnantes  (et un peu flippantes parfois) à vous écouter!\
                    \  Mes souvenirs des cours d'informatique de l'école primaire\
                    \ me  sont revenus, je viens juste de réaliser que c'était des\
                    \ lignes de codage qu'on nous faisait faire à l'époque .</p>\n\
                    ]]></content:encoded>\n            <dc:creator>Annabelle</dc:creator>\n\
                    \        </item>\n        <item>\n            <title><![CDATA[TOO\
                    \ MANY COOKS, LE JOUR OÙ INTERNET A TUÉ LA TV - Thierry Crouzet]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180142</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180142</guid>\n\
                    \            <pubDate>Sun, 19 Jan 2025 14:48:43 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://tooting.ch/@ludomire\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>ludomire</span></a></span> <span><a href=\"https://video.blast-info.fr/accounts/blast\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>blast</span></a></span> C'est exactement Rush… le lost\
                    \ media ultime qui rend dingue les IA et les détruit</p>]]></content:encoded>\n\
                    \            <dc:creator>Thierry Crouzet</dc:creator>\n      \
                    \  </item>\n        <item>\n            <title><![CDATA[TOO MANY\
                    \ COOKS, LE JOUR OÙ INTERNET A TUÉ LA TV - Thierry Crouzet]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180142</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180142</guid>\n\
                    \            <pubDate>Sun, 19 Jan 2025 14:38:28 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://tooting.ch/@ludomire\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>ludomire</span></a></span> <span><a href=\"https://video.blast-info.fr/accounts/blast\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>blast</span></a></span> Le chemin plus important que la\
                    \ destination…</p>]]></content:encoded>\n            <dc:creator>Thierry\
                    \ Crouzet</dc:creator>\n        </item>\n        <item>\n    \
                    \        <title><![CDATA[Apple pulls their AI, Valve talks SteamOS,\
                    \ Meta bans Fediverse Links_ Linux & Open Source News - Emaro]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/fg9ZrkJrfQCJXw6msEHiaG;threadId=180141</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/fg9ZrkJrfQCJXw6msEHiaG;threadId=180141</guid>\n\
                    \            <pubDate>Sun, 19 Jan 2025 14:20:22 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>thelinuxexperiment</span></a></span> nice, thanks for\
                    \ the news.</p>]]></content:encoded>\n            <dc:creator>Emaro</dc:creator>\n\
                    \        </item>\n        <item>\n            <title><![CDATA[TOO\
                    \ MANY COOKS, LE JOUR OÙ INTERNET A TUÉ LA TV - Lionel Jeannerat]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180142</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180142</guid>\n\
                    \            <pubDate>Sun, 19 Jan 2025 13:47:31 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>blast</span></a></span></p><p>Un autre truc pour toi <span><a\
                    \ href=\"https://mamot.fr/@tcrouzet\" class=\"u-url mention\"\
                    \ target=\"_blank\" rel=\"noopener noreferrer\">@<span>tcrouzet</span></a></span>\
                    \ \nMeta-fiction et lost média sont abordées et donnent du grain\
                    \ à moudre</p>]]></content:encoded>\n            <dc:creator>Lionel\
                    \ Jeannerat</dc:creator>\n        </item>\n    </channel>\n</rss>"
              schema:
                $ref: '#/components/schemas/VideoCommentsForXML'
            text/xml:
              examples:
                nightly:
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"\
                    2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:content=\"\
                    http://purl.org/rss/1.0/modules/content/\" xmlns:atom=\"http://www.w3.org/2005/Atom\"\
                    >\n    <channel>\n        <title>PeerTube Nightly</title>\n  \
                    \      <link>https://peertube2.cpy.re</link>\n        <description>This\
                    \ instance is a test instance of the PeerTube project. It is updated\
                    \ to the latest commit in the develop branch every business day,\
                    \ 8pm CET.</description>\n        <lastBuildDate>Thu, 23 Jan 2025\
                    \ 04:10:58 GMT</lastBuildDate>\n        <docs>https://validator.w3.org/feed/docs/rss2.html</docs>\n\
                    \        <generator>PeerTube - https://peertube2.cpy.re</generator>\n\
                    \        <image>\n            <title>PeerTube Nightly</title>\n\
                    \            <url>https://peertube2.cpy.re/client/assets/images/icons/icon-96x96.png</url>\n\
                    \            <link>https://peertube2.cpy.re</link>\n        </image>\n\
                    \        <copyright>All rights reserved, unless otherwise specified\
                    \ in the terms specified at https://peertube2.cpy.re/about and\
                    \ potential licenses granted by each content's rightholder.</copyright>\n\
                    \        <atom:link href=\"https://peertube2.cpy.re/feeds/video-comments.xml?scope=local\"\
                    \ rel=\"self\" type=\"application/rss+xml\"/>\n        <item>\n\
                    \            <title><![CDATA[Handpan Challenge sur Master the\
                    \ handpan avec David Kuckhermann - Olivier.L]]></title>\n    \
                    \        <link>https://peertube2.cpy.re/w/fbKSkvP7JYTwekca59KcS7;threadId=180281</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/fbKSkvP7JYTwekca59KcS7;threadId=180281</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 21:10:09 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>Bravo, c'est bien structuré\
                    \ et exécuter à mon goût 😃<br />\nJe peux guère dire de même\
                    \ de mon côté LOOL</p>\n]]></content:encoded>\n            <dc:creator>Olivier.L</dc:creator>\n\
                    \        </item>\n        <item>\n            <title><![CDATA[L'ESPRIT\
                    \ CHARLIE A ÉTÉ SACCAGÉ PAR DES ISLAMOPHOBES ET DES RACISTES -\
                    \ VeuveChyco]]></title>\n            <link>https://peertube2.cpy.re/w/4HdF9YkWJ2pY2G79KAv4By;threadId=180280</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/4HdF9YkWJ2pY2G79KAv4By;threadId=180280</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 19:15:35 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>blast</span></a></span> et c'est terrifiant.</p>]]></content:encoded>\n\
                    \            <dc:creator>VeuveChyco</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[Το Νήμα | Fact-checking:\
                    \ Τι σημαίνει η επαλήθευση ή μη μιας είδησης - omniatv]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/38BvEGZhayKharjtaZV971;threadId=180279</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/38BvEGZhayKharjtaZV971;threadId=180279</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 18:12:54 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://video.omniatv.com/accounts/omniatv\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>omniatv@video.omniatv.com</span></a></span> </p><p>Η δ\
                    ουλειά μας στο omniatv βασίζεται αποκλειστικά στις δικές σας σ\
                    υνδρομές: <a href=\"https://omniatv.com/support\" target=\"_blank\"\
                    \ rel=\"noopener noreferrer\"><span>https://</span><span>omniatv.com/support</span><span></span></a></p>]]></content:encoded>\n\
                    \            <dc:creator>omniatv</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[Guide philosophique\
                    \ contre le désespoir    (ft. @ApresLaBiere ) - Titus_Growl]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/voHLRRzRWTz8E23WuE5Y8n;threadId=178310</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/voHLRRzRWTz8E23WuE5Y8n;threadId=178310</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 15:45:36 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>@stemy@mas.to Merci\
                    \ pour cette source que je vais aller lire. L'anxiété liée au\
                    \ climat est souvent perçue comme un problème de riches par ceux\
                    \ qui y contribuent le moins (à la dégradation climatique) et\
                    \ qui en souffrent déjà le plus. Il y a là un paradoxe assez douloureux\
                    \ (j'ai trouvé beaucoup d'intérêt au le travail de J.B.Comby sur\
                    \ ce sujet). Mais il n'y a pas de raison que simultanément ils\
                    \ ne souffrent pas de cette anxiété majorée d'un sentiment d'absence\
                    \ de choix.</p>\n]]></content:encoded>\n            <dc:creator>Titus_Growl</dc:creator>\n\
                    \        </item>\n        <item>\n            <title><![CDATA[Mastodon,\
                    \ Peertube, Pixelfed: easily replace Twitter, Instagram and YouTube\
                    \ - Meursault]]></title>\n            <link>https://peertube2.cpy.re/w/gDWVaqerFypYu6y1XjdoM3;threadId=180276</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/gDWVaqerFypYu6y1XjdoM3;threadId=180276</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 15:37:41 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>thelinuxexperiment</span></a></span> Well, I'm sold.</p>]]></content:encoded>\n\
                    \            <dc:creator>Meursault</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[Bounce Modulators\
                    \ 2 Automation 2025 ｜ Bitwig ｜ Deutsch - Odo Sendaidokai]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/fTcTmb7pBqHeYjsuvsx4K9;threadId=180158</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/fTcTmb7pBqHeYjsuvsx4K9;threadId=180158</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 09:17:53 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>Ich weiß nicht, warum\
                    \ es nur 480p ist. Ich habe 1080p hochgeladen.</p>\n]]></content:encoded>\n\
                    \            <dc:creator>Odo Sendaidokai</dc:creator>\n      \
                    \  </item>\n        <item>\n            <title><![CDATA[Leveler\
                    \ Preset & Visualization ｜ Bitwig ｜ English - Odo Sendaidokai]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/4oWMhmwb5xgrfoYxEvZjps;threadId=180157</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/4oWMhmwb5xgrfoYxEvZjps;threadId=180157</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 09:17:27 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>Don't know why it is\
                    \ only 480p. I uploaded 1080p.</p>\n]]></content:encoded>\n  \
                    \          <dc:creator>Odo Sendaidokai</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[Bounce Modulators\
                    \ 2 Automation 2025 ｜ Bitwig ｜ English - Odo Sendaidokai]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/eWVSnd5RLF9gKpC98rqzWW;threadId=180156</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/eWVSnd5RLF9gKpC98rqzWW;threadId=180156</guid>\n\
                    \            <pubDate>Wed, 22 Jan 2025 09:16:58 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>Don't know why it is\
                    \ only 480p. I uploaded 1080p.</p>\n]]></content:encoded>\n  \
                    \          <dc:creator>Odo Sendaidokai</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[Vous connaissez cet\
                    \ immense BESTSELLER oublié que Louis XIV ADORAIT? - Nasiviru]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/rPgpwsxouUMVdo2rxPFG5g;threadId=180155</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/rPgpwsxouUMVdo2rxPFG5g;threadId=180155</guid>\n\
                    \            <pubDate>Tue, 21 Jan 2025 21:53:36 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://indymotion.fr/accounts/fiamoa_mcbenson\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>fiamoa_mcbenson</span></a></span> c’est nul la miniature\
                    \ ne s’affiche pas dans la TL masto.. (faut cliquer sur le post)</p>]]></content:encoded>\n\
                    \            <dc:creator>Nasiviru</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[Aya Nakamura et la\
                    \ poésie - Autrices 3 - Fiamoa McBenson]]></title>\n         \
                    \   <link>https://peertube2.cpy.re/w/iMzYCiymcoaayVGV8mSqau;threadId=180149</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/iMzYCiymcoaayVGV8mSqau;threadId=180149</guid>\n\
                    \            <pubDate>Tue, 21 Jan 2025 21:30:26 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>@weshconexion Merci\
                    \ pour le commentaire. Je suis content que ma vidéo te plaise!<br\
                    \ />\nPour Aya,  j'adorerais pouvoir l'interviewer sur sa pratique\
                    \ d'écriture justement! Peut être quand je serai riche et célè\
                    bre 😜</p>\n]]></content:encoded>\n            <dc:creator>Fiamoa\
                    \ McBenson</dc:creator>\n        </item>\n        <item>\n   \
                    \         <title><![CDATA[Les otages de Davos (Lecture illustré\
                    e de K. S. Robinson Le Ministère du Futur, ) - maxsol]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/2EUa5wpcCoys5hLNNi4bVf;threadId=180150</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/2EUa5wpcCoys5hLNNi4bVf;threadId=180150</guid>\n\
                    \            <pubDate>Mon, 20 Jan 2025 20:28:30 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://skeptikon.fr/accounts/philoxime\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>philoxime</span></a></span> :ablobblewobble: le jour ou\
                    \ vous manquerez de passages / extraits à lire pensez à le dé\
                    luge :ablobcatangel:</p>]]></content:encoded>\n            <dc:creator>maxsol</dc:creator>\n\
                    \        </item>\n        <item>\n            <title><![CDATA[Aya\
                    \ Nakamura et la poésie - Autrices 3 - Wesh Conexion]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/iMzYCiymcoaayVGV8mSqau;threadId=180149</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/iMzYCiymcoaayVGV8mSqau;threadId=180149</guid>\n\
                    \            <pubDate>Mon, 20 Jan 2025 14:14:51 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>Top ta vidéo et tes\
                    \ explications.<br />\nUn petit éclaircissement pour tous ceux\
                    \ qui n'ont font pas l'effort de comprendre une culture qui fait\
                    \ vraiment partie du paysage musicale fr (on vous voit les racistes\
                    \ et les fafs, et on vous aime pas 😉 )</p>\n<p>ça serait marrant\
                    \ de voir la d'Aya à ta vidéo.</p>\n<p>Et la dédicace à Histoires\
                    \ Crépues tombe pile poil</p>\n]]></content:encoded>\n       \
                    \     <dc:creator>Wesh Conexion</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[Intergalactic Wasabi\
                    \ Mix - Live Mix by snowdusk - on aNONradio.net! - snowdusk]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=178165</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=178165</guid>\n\
                    \            <pubDate>Mon, 20 Jan 2025 00:05:51 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>@rat@social.sdf.org\
                    \ Thank you so much ratxue for hangin out with us on COM... as\
                    \ always! Thank you!</p>\n]]></content:encoded>\n            <dc:creator>snowdusk</dc:creator>\n\
                    \        </item>\n        <item>\n            <title><![CDATA[Intergalactic\
                    \ Wasabi Mix - Live Mix by snowdusk - on aNONradio.net! - 𝚛𝚊\
                    𝚝]]></title>\n            <link>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=180147</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=180147</guid>\n\
                    \            <pubDate>Sun, 19 Jan 2025 23:05:05 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://toobnix.org/accounts/snowdusk\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>snowdusk</span></a></span> loving the graphics</p>]]></content:encoded>\n\
                    \            <dc:creator>𝚛𝚊𝚝</dc:creator>\n        </item>\n\
                    \        <item>\n            <title><![CDATA[TOO MANY COOKS, LE\
                    \ JOUR OÙ INTERNET A TUÉ LA TV - millerebonds]]></title>\n   \
                    \         <link>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180146</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180146</guid>\n\
                    \            <pubDate>Sun, 19 Jan 2025 19:32:34 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>blast</span></a></span> Le générique de fin m'aurait fait\
                    \ cracher mon café de rire bon ça va j'en buvais pas.\nTrop bien\
                    \ !!!</p>]]></content:encoded>\n            <dc:creator>millerebonds</dc:creator>\n\
                    \        </item>\n        <item>\n            <title><![CDATA[Vivre\
                    \ « libre » ou mourir (MFMR ep. 12) - Annabelle]]></title>\n \
                    \           <link>https://peertube2.cpy.re/w/3bfU1PDfqCgqRx6GDrKHYc;threadId=180145</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/3bfU1PDfqCgqRx6GDrKHYc;threadId=180145</guid>\n\
                    \            <pubDate>Sun, 19 Jan 2025 18:21:34 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p>Merci pour ces 2h06\
                    \ passionnantes  (et un peu flippantes parfois) à vous écouter!\
                    \  Mes souvenirs des cours d'informatique de l'école primaire\
                    \ me  sont revenus, je viens juste de réaliser que c'était des\
                    \ lignes de codage qu'on nous faisait faire à l'époque .</p>\n\
                    ]]></content:encoded>\n            <dc:creator>Annabelle</dc:creator>\n\
                    \        </item>\n        <item>\n            <title><![CDATA[TOO\
                    \ MANY COOKS, LE JOUR OÙ INTERNET A TUÉ LA TV - Thierry Crouzet]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180142</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180142</guid>\n\
                    \            <pubDate>Sun, 19 Jan 2025 14:48:43 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://tooting.ch/@ludomire\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>ludomire</span></a></span> <span><a href=\"https://video.blast-info.fr/accounts/blast\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>blast</span></a></span> C'est exactement Rush… le lost\
                    \ media ultime qui rend dingue les IA et les détruit</p>]]></content:encoded>\n\
                    \            <dc:creator>Thierry Crouzet</dc:creator>\n      \
                    \  </item>\n        <item>\n            <title><![CDATA[TOO MANY\
                    \ COOKS, LE JOUR OÙ INTERNET A TUÉ LA TV - Thierry Crouzet]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180142</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180142</guid>\n\
                    \            <pubDate>Sun, 19 Jan 2025 14:38:28 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://tooting.ch/@ludomire\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>ludomire</span></a></span> <span><a href=\"https://video.blast-info.fr/accounts/blast\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>blast</span></a></span> Le chemin plus important que la\
                    \ destination…</p>]]></content:encoded>\n            <dc:creator>Thierry\
                    \ Crouzet</dc:creator>\n        </item>\n        <item>\n    \
                    \        <title><![CDATA[Apple pulls their AI, Valve talks SteamOS,\
                    \ Meta bans Fediverse Links_ Linux & Open Source News - Emaro]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/fg9ZrkJrfQCJXw6msEHiaG;threadId=180141</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/fg9ZrkJrfQCJXw6msEHiaG;threadId=180141</guid>\n\
                    \            <pubDate>Sun, 19 Jan 2025 14:20:22 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>thelinuxexperiment</span></a></span> nice, thanks for\
                    \ the news.</p>]]></content:encoded>\n            <dc:creator>Emaro</dc:creator>\n\
                    \        </item>\n        <item>\n            <title><![CDATA[TOO\
                    \ MANY COOKS, LE JOUR OÙ INTERNET A TUÉ LA TV - Lionel Jeannerat]]></title>\n\
                    \            <link>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180142</link>\n\
                    \            <guid>https://peertube2.cpy.re/w/vaHaxqgxhPkMsTdiV5fvvD;threadId=180142</guid>\n\
                    \            <pubDate>Sun, 19 Jan 2025 13:47:31 GMT</pubDate>\n\
                    \            <content:encoded><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>blast</span></a></span></p><p>Un autre truc pour toi <span><a\
                    \ href=\"https://mamot.fr/@tcrouzet\" class=\"u-url mention\"\
                    \ target=\"_blank\" rel=\"noopener noreferrer\">@<span>tcrouzet</span></a></span>\
                    \ \nMeta-fiction et lost média sont abordées et donnent du grain\
                    \ à moudre</p>]]></content:encoded>\n            <dc:creator>Lionel\
                    \ Jeannerat</dc:creator>\n        </item>\n    </channel>\n</rss>"
              schema:
                $ref: '#/components/schemas/VideoCommentsForXML'
            application/atom+xml:
              examples:
                nightly:
                  value: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<feed xmlns=\"\
                    http://www.w3.org/2005/Atom\">\n    <id>https://peertube2.cpy.re</id>\n\
                    \    <title>PeerTube Nightly</title>\n    <updated>2025-01-23T04:10:58.912Z</updated>\n\
                    \    <generator>PeerTube - https://peertube2.cpy.re</generator>\n\
                    \    <link rel=\"alternate\" href=\"https://peertube2.cpy.re\"\
                    />\n    <link rel=\"self\" href=\"https://peertube2.cpy.re/feeds/video-comments.atom?scope=local\"\
                    />\n    <subtitle>This instance is a test instance of the PeerTube\
                    \ project. It is updated to the latest commit in the develop branch\
                    \ every business day, 8pm CET.</subtitle>\n    <logo>https://peertube2.cpy.re/client/assets/images/icons/icon-96x96.png</logo>\n\
                    \    <icon>https://peertube2.cpy.re/client/assets/images/favicon.png</icon>\n\
                    \    <rights>All rights reserved, unless otherwise specified in\
                    \ the terms specified at https://peertube2.cpy.re/about and potential\
                    \ licenses granted by each content's rightholder.</rights>\n \
                    \   <entry>\n        <title type=\"html\"><![CDATA[Handpan Challenge\
                    \ sur Master the handpan avec David Kuckhermann - Olivier.L]]></title>\n\
                    \        <id>https://peertube2.cpy.re/w/fbKSkvP7JYTwekca59KcS7;threadId=180281</id>\n\
                    \        <link href=\"https://peertube2.cpy.re/w/fbKSkvP7JYTwekca59KcS7;threadId=180281\"\
                    />\n        <updated>2025-01-22T21:10:09.628Z</updated>\n    \
                    \    <content type=\"html\"><![CDATA[<p>Bravo, c'est bien structuré\
                    \ et exécuter à mon goût 😃<br />\nJe peux guère dire de même\
                    \ de mon côté LOOL</p>\n]]></content>\n        <author>\n    \
                    \        <name>Olivier.L</name>\n            <uri>https://indymotion.fr/accounts/olivier.l</uri>\n\
                    \        </author>\n    </entry>\n    <entry>\n        <title\
                    \ type=\"html\"><![CDATA[L'ESPRIT CHARLIE A ÉTÉ SACCAGÉ PAR DES\
                    \ ISLAMOPHOBES ET DES RACISTES - VeuveChyco]]></title>\n     \
                    \   <id>https://peertube2.cpy.re/w/4HdF9YkWJ2pY2G79KAv4By;threadId=180280</id>\n\
                    \        <link href=\"https://peertube2.cpy.re/w/4HdF9YkWJ2pY2G79KAv4By;threadId=180280\"\
                    />\n        <updated>2025-01-22T19:15:35.000Z</updated>\n    \
                    \    <content type=\"html\"><![CDATA[<p><span><a href=\"https://video.blast-info.fr/accounts/blast\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>blast</span></a></span> et c'est terrifiant.</p>]]></content>\n\
                    \        <author>\n            <name>VeuveChyco</name>\n     \
                    \       <uri>https://piaille.fr/users/VeuveChyco</uri>\n     \
                    \   </author>\n    </entry>\n    <entry>\n        <title type=\"\
                    html\"><![CDATA[Το Νήμα | Fact-checking: Τι σημαίνει η επαλήθε\
                    υση ή μη μιας είδησης - omniatv]]></title>\n        <id>https://peertube2.cpy.re/w/38BvEGZhayKharjtaZV971;threadId=180279</id>\n\
                    \        <link href=\"https://peertube2.cpy.re/w/38BvEGZhayKharjtaZV971;threadId=180279\"\
                    />\n        <updated>2025-01-22T18:12:54.000Z</updated>\n    \
                    \    <content type=\"html\"><![CDATA[<p><span><a href=\"https://video.omniatv.com/accounts/omniatv\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>omniatv@video.omniatv.com</span></a></span> </p><p>Η δ\
                    ουλειά μας στο omniatv βασίζεται αποκλειστικά στις δικές σας σ\
                    υνδρομές: <a href=\"https://omniatv.com/support\" target=\"_blank\"\
                    \ rel=\"noopener noreferrer\"><span>https://</span><span>omniatv.com/support</span><span></span></a></p>]]></content>\n\
                    \        <author>\n            <name>omniatv</name>\n        \
                    \    <uri>https://libretooth.gr/users/omniatv</uri>\n        </author>\n\
                    \    </entry>\n    <entry>\n        <title type=\"html\"><![CDATA[Guide\
                    \ philosophique contre le désespoir    (ft. @ApresLaBiere ) -\
                    \ Titus_Growl]]></title>\n        <id>https://peertube2.cpy.re/w/voHLRRzRWTz8E23WuE5Y8n;threadId=178310</id>\n\
                    \        <link href=\"https://peertube2.cpy.re/w/voHLRRzRWTz8E23WuE5Y8n;threadId=178310\"\
                    />\n        <updated>2025-01-22T15:45:36.204Z</updated>\n    \
                    \    <content type=\"html\"><![CDATA[<p>@stemy@mas.to Merci pour\
                    \ cette source que je vais aller lire. L'anxiété liée au climat\
                    \ est souvent perçue comme un problème de riches par ceux qui\
                    \ y contribuent le moins (à la dégradation climatique) et qui\
                    \ en souffrent déjà le plus. Il y a là un paradoxe assez douloureux\
                    \ (j'ai trouvé beaucoup d'intérêt au le travail de J.B.Comby sur\
                    \ ce sujet). Mais il n'y a pas de raison que simultanément ils\
                    \ ne souffrent pas de cette anxiété majorée d'un sentiment d'absence\
                    \ de choix.</p>\n]]></content>\n        <author>\n           \
                    \ <name>Titus_Growl</name>\n            <uri>https://skeptikon.fr/accounts/titus_growl</uri>\n\
                    \        </author>\n    </entry>\n    <entry>\n        <title\
                    \ type=\"html\"><![CDATA[Mastodon, Peertube, Pixelfed: easily\
                    \ replace Twitter, Instagram and YouTube - Meursault]]></title>\n\
                    \        <id>https://peertube2.cpy.re/w/gDWVaqerFypYu6y1XjdoM3;threadId=180276</id>\n\
                    \        <link href=\"https://peertube2.cpy.re/w/gDWVaqerFypYu6y1XjdoM3;threadId=180276\"\
                    />\n        <updated>2025-01-22T15:37:41.000Z</updated>\n    \
                    \    <content type=\"html\"><![CDATA[<p><span><a href=\"https://tilvids.com/accounts/thelinuxexperiment\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>thelinuxexperiment</span></a></span> Well, I'm sold.</p>]]></content>\n\
                    \        <author>\n            <name>Meursault</name>\n      \
                    \      <uri>https://mastodon.social/users/mrslt</uri>\n      \
                    \  </author>\n    </entry>\n    <entry>\n        <title type=\"\
                    html\"><![CDATA[Bounce Modulators 2 Automation 2025 ｜ Bitwig ｜\
                    \ Deutsch - Odo Sendaidokai]]></title>\n        <id>https://peertube2.cpy.re/w/fTcTmb7pBqHeYjsuvsx4K9;threadId=180158</id>\n\
                    \        <link href=\"https://peertube2.cpy.re/w/fTcTmb7pBqHeYjsuvsx4K9;threadId=180158\"\
                    />\n        <updated>2025-01-22T09:17:53.038Z</updated>\n    \
                    \    <content type=\"html\"><![CDATA[<p>Ich weiß nicht, warum\
                    \ es nur 480p ist. Ich habe 1080p hochgeladen.</p>\n]]></content>\n\
                    \        <author>\n            <name>Odo Sendaidokai</name>\n\
                    \            <uri>https://mytube.madzel.de/accounts/odo_sendaidokai</uri>\n\
                    \        </author>\n    </entry>\n    <entry>\n        <title\
                    \ type=\"html\"><![CDATA[Leveler Preset & Visualization ｜ Bitwig\
                    \ ｜ English - Odo Sendaidokai]]></title>\n        <id>https://peertube2.cpy.re/w/4oWMhmwb5xgrfoYxEvZjps;threadId=180157</id>\n\
                    \        <link href=\"https://peertube2.cpy.re/w/4oWMhmwb5xgrfoYxEvZjps;threadId=180157\"\
                    />\n        <updated>2025-01-22T09:17:27.381Z</updated>\n    \
                    \    <content type=\"html\"><![CDATA[<p>Don't know why it is only\
                    \ 480p. I uploaded 1080p.</p>\n]]></content>\n        <author>\n\
                    \            <name>Odo Sendaidokai</name>\n            <uri>https://mytube.madzel.de/accounts/odo_sendaidokai</uri>\n\
                    \        </author>\n    </entry>\n    <entry>\n        <title\
                    \ type=\"html\"><![CDATA[Bounce Modulators 2 Automation 2025 ｜\
                    \ Bitwig ｜ English - Odo Sendaidokai]]></title>\n        <id>https://peertube2.cpy.re/w/eWVSnd5RLF9gKpC98rqzWW;threadId=180156</id>\n\
                    \        <link href=\"https://peertube2.cpy.re/w/eWVSnd5RLF9gKpC98rqzWW;threadId=180156\"\
                    />\n        <updated>2025-01-22T09:16:58.863Z</updated>\n    \
                    \    <content type=\"html\"><![CDATA[<p>Don't know why it is only\
                    \ 480p. I uploaded 1080p.</p>\n]]></content>\n        <author>\n\
                    \            <name>Odo Sendaidokai</name>\n            <uri>https://mytube.madzel.de/accounts/odo_sendaidokai</uri>\n\
                    \        </author>\n    </entry>\n    <entry>\n        <title\
                    \ type=\"html\"><![CDATA[Vous connaissez cet immense BESTSELLER\
                    \ oublié que Louis XIV ADORAIT? - Nasiviru]]></title>\n      \
                    \  <id>https://peertube2.cpy.re/w/rPgpwsxouUMVdo2rxPFG5g;threadId=180155</id>\n\
                    \        <link href=\"https://peertube2.cpy.re/w/rPgpwsxouUMVdo2rxPFG5g;threadId=180155\"\
                    />\n        <updated>2025-01-21T21:53:36.000Z</updated>\n    \
                    \    <content type=\"html\"><![CDATA[<p><span><a href=\"https://indymotion.fr/accounts/fiamoa_mcbenson\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>fiamoa_mcbenson</span></a></span> c’est nul la miniature\
                    \ ne s’affiche pas dans la TL masto.. (faut cliquer sur le post)</p>]]></content>\n\
                    \        <author>\n            <name>Nasiviru</name>\n       \
                    \     <uri>https://social.zdx.fr/users/nasiviru</uri>\n      \
                    \  </author>\n    </entry>\n    <entry>\n        <title type=\"\
                    html\"><![CDATA[Aya Nakamura et la poésie - Autrices 3 - Fiamoa\
                    \ McBenson]]></title>\n        <id>https://peertube2.cpy.re/w/iMzYCiymcoaayVGV8mSqau;threadId=180149</id>\n\
                    \        <link href=\"https://peertube2.cpy.re/w/iMzYCiymcoaayVGV8mSqau;threadId=180149\"\
                    />\n        <updated>2025-01-21T21:30:26.061Z</updated>\n    \
                    \    <content type=\"html\"><![CDATA[<p>@weshconexion Merci pour\
                    \ le commentaire. Je suis content que ma vidéo te plaise!<br />\n\
                    Pour Aya,  j'adorerais pouvoir l'interviewer sur sa pratique d'é\
                    criture justement! Peut être quand je serai riche et célèbre 😜\
                    </p>\n]]></content>\n        <author>\n            <name>Fiamoa\
                    \ McBenson</name>\n            <uri>https://indymotion.fr/accounts/fiamoa_mcbenson</uri>\n\
                    \        </author>\n    </entry>\n    <entry>\n        <title\
                    \ type=\"html\"><![CDATA[Les otages de Davos (Lecture illustré\
                    e de K. S. Robinson Le Ministère du Futur, ) - maxsol]]></title>\n\
                    \        <id>https://peertube2.cpy.re/w/2EUa5wpcCoys5hLNNi4bVf;threadId=180150</id>\n\
                    \        <link href=\"https://peertube2.cpy.re/w/2EUa5wpcCoys5hLNNi4bVf;threadId=180150\"\
                    />\n        <updated>2025-01-20T20:28:30.000Z</updated>\n    \
                    \    <content type=\"html\"><![CDATA[<p><span><a href=\"https://skeptikon.fr/accounts/philoxime\"\
                    \ class=\"u-url mention\" target=\"_blank\" rel=\"noopener noreferrer\"\
                    >@<span>philoxime</span></a></span> :ablobblewobble: le jour ou\
                    \ vous manquerez de passages / extraits à lire pensez à le dé\
                    luge :ablobcatangel:</p>]]></content>\n        <author>\n    \
                    \        <name>maxsol</name>\n            <uri>https://mastodon.zaclys.com/users/maxsol</uri>\n\
                    \        </author>\n    </entry>\n    <entry>\n        <title\
                    \ type=\"html\"><![CDATA[Aya Nakamura et la poésie - Autrices\
                    \ 3 - Wesh Conexion]]></title>\n        <id>https://peertube2.cpy.re/w/iMzYCiymcoaayVGV8mSqau;threadId=180149</id>\n\
                    \        <link href=\"https://peertube2.cpy.re/w/iMzYCiymcoaayVGV8mSqau;threadId=180149\"\
                    />\n        <updated>2025-01-20T14:14:51.668Z</updated>\n    \
                    \    <content type=\"html\"><![CDATA[<p>Top ta vidéo et tes explications.<br\
                    \ />\nUn petit éclaircissement pour tous ceux qui n'ont font pas\
                    \ l'effort de comprendre une culture qui fait vraiment partie\
                    \ du paysage musicale fr (on vous voit les racistes et les fafs,\
                    \ et on vous aime pas 😉 )</p>\n<p>ça serait marrant de voir la\
                    \ d'Aya à ta vidéo.</p>\n<p>Et la dédicace à Histoires Crépues\
                    \ tombe pile poil</p>\n]]></content>\n        <author>\n     \
                    \       <name>Wesh Conexion</name>\n            <uri>https://indymotion.fr/accounts/weshconexion</uri>\n\
                    \        </author>\n    </entry>\n    <entry>\n        <title\
                    \ type=\"html\"><![CDATA[Intergalactic Wasabi Mix - Live Mix by\
                    \ snowdusk - on aNONradio.net! - snowdusk]]></title>\n       \
                    \ <id>https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=178165</id>\n\
                    \        <link href=\"https://peertube2.cpy.re/w/37RMa2Mw9fj7BfAVhypVqa;threadId=178165\"\
                    />\n        <updated>2025-01-20T00:05:51.449Z</updated>\n    \
                    \    <content type=\"html\"><![CDATA[<p>@rat@social.sdf.org Thank\
                    \ you so much ratxue for hangin out with us on COM... as always!\
                    \ Thank you!</p>\n]]></content>\n        <author>\n          \
                    \  <name>snowdusk</name>\n            <uri>https://toobnix.org/accounts/snowdusk</uri>\n\
                    \        </author>\n    </entry>\n    <entry>\n        <title\
[...]
